*{
   margin: 0px;
   padding: 0px;
   font-family: arial;
   box-sizing: border-box;

}
body
{
   display: flex;
   flex-direction: column;
   background-color:rgb(241, 140, 140);
}
#main-container-div
{
   display: flex;
   flex-direction: row;
   width: 100%;
   min-height: 600px;
   background-image: url(bg-intro-desktop.png);
   background-position: center;
   background-size: cover;
   

}
#text-area-div
{
   display: flex;
   flex-direction: column;
   flex-basis: 50%;
   justify-content: center;
   padding-left: 9%;
}
#form-area-div
{
   display: flex;
   flex-direction: column;
   flex-basis: 50%;

}

#try-it-free
{
display: flex;
flex-direction: column;
width: 80%;
min-height: 50px;
background-color: purple;
margin-left: 8%;
justify-content: center;
border-radius: 5px;
color: white;
align-items: center;
}

#form-body-div
{
   display: flex;
   flex-direction: column;
   width: 80%;
   min-height: 550px;
   background-color: white;
   margin-left: 8%;
   margin-top: 2%;
   border-radius: 5px;
}
form
{
   display: flex;
   flex-direction: column;
   width: 100%;
   min-height: 100px;
   margin-top: 8%;
   }
.form1
{
   display: flex;
   flex-direction: column;
   width: 100%;
   min-height: 50px;
}
input{
   height: 50px;
   width: 91%;
   padding: 10px;
   margin-bottom: 20px;
   margin: 15px;
   margin-top: 20px;
   border-width: 1px;
   border-radius: 5px;
}
button
{
   height: 50px;
   width: 89%;
   border-width: 0px;
   background-color: green;
   margin-left: 18px;
   border-radius: 3px;
   font-size: 20px;
   color: white;
}

#text-head-div{
   color: white;
   font-size: 40px;
   margin-bottom: 3px;
   }
#text-body-div{
   color: white;
   line-height: 25px;
   font-size: 18px;
   
}
#terms
{
   font-size: x-small;
   margin: 2%;
   margin-left: 20%;
}
@media screen and (min-width:200px) and (max-width: 768px){
   #main-container-div{
       display: flex;
       flex-direction: column;
   }
   #try-it-free
{
   text-align: center;
   font-size: large;

}
#text-area-div{
   text-align: center;
   margin-bottom: 5%;
   padding-left: 0px;
}
#terms
{
   font-size:xx-small;
   text-align: center;
}
}